body {
  background-color: #333333;
  overflow: hidden;
}

button.utility-button{
  color:#B5D3E7;
  border:1px solid #B5D3E7;
  border-radius: 3px;
  padding:5px;
  background-color: transparent;
  margin-bottom: 10px;
}

h1.title{
  color: #B5D3E7;
}

p {
 color:#B5D3E7;
}

div#graphDiv{
  width:70%;
}

button#plotThumbnail{
  margin-top: 10px;
}

.bar_wrapper{
  display: block;
  width:100%;
  overflow: auto;
  margin:10px 0;
}

.bar_wrapper span.selected {
  opacity:1;
  border-top:2px solid;
  border-buttom:2px solid;
}

.bar_wrapper span{
  height:55px;
  display:inline-block;
  float:left;
  opacity:0.4;
}

.bar_wrapper span:hover{
  opacity:1;
}


div#detailDiv{
  width:26%;
  height:90%;
  background-color: #333333;
  border:2px solid #B5D3E7;
  position:fixed;
  top:3%;
  right:2%;
  border-radius: 10px;
  overflow: auto;
  padding:1% 20px;
  z-index: 5;
}

div#selectedArtists{
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #B5D3E7 1px solid;
}

button.selectedArtist{
  margin:2px;
  padding:2px;
  border-radius: 2px;
  border:none;
  color:white;
}


div#thumbnailDiv{
  margin-top: 20px;
  padding-top:10px;
  width:70%;
  height:450px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

div#thumbnails{
  margin-top: 10px;
}
/* div.item-wrapper{

} */

svg.image-wrapper {
  /* float:left; */
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  height:400px;
}

img.thumbnail {
  height:300px;
}

rect.artworkSizeRect{
  fill:#B5D3E7;
}
